[submodule "JSONTestSuite"]
	path = JSONTestSuite
	url = https://github.com/nst/JSONTestSuite.git
[submodule "nativejson-benchmark"]
	path = nativejson-benchmark
	url = https://github.com/miloyip/nativejson-benchmark.git
